
body,main,p {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 100;
}
h2{
    font-size: 24px;
    font-weight: 300;
}
h4{
    font-weight: 300;
}

.navbar {
    opacity : 0.7;
    visibility: visible;
    background-color: #030303;
}
.navbar-brand{
  font-size: 30px;
  font-weight: 300;
  color : #fff;
}

.navbar .nav-link {
    font-weight: 400;
    font-size: 16px;
    color : #fff;
}

.navbar .nav-link i {
    font-weight: 500;
    font-size: 14px;
    color : #fff;
}

.dropdown-menu, .navbar-toggler, .btn{
    border-radius: 0px;
    color: rgb(252, 251, 251);
}

.dropdown-submenu{
    display:block;
    position: relative;
    border: 1px;
    color: #030303;
    background-color:rgb(250, 249, 249);
}

.dropdown-menu,
.dropdown-submenu {position: relative;}
.dropdown .dropdown-submenu .dropdown-menu {top: 0; left: 100%;margin-top: 0;}

.dropdown .dropdown-menu .dropdown-item{
    font-weight: 500;
    background-color:none;
    color: rgb(252, 251, 251);
}

.dropdown-menu{
    font-weight: 500;
    background-color:rgba(0, 0, 0, 0.8);
    color : #f1b356;
}

.dropdown-submenu {
    display:block;
    border: 1px;
    color: rgb(252, 251, 251);
    background-color:rgba(0, 0, 0, 0.8);
}
/*
.dropdown-menu .dropdown-item:hover{
    font-weight: 500;
    background-color:rgba(0, 0, 0, 0.8);
    color : #f1b356;
}

.dropdown:hover>.dropdown-menu,
.dropdown-submenu:hover>.dropdown-menu{
    display:block;
    border: 1px;
    color: rgb(252, 251, 251);
    background-color:rgba(0, 0, 0, 0.8);
}
*/

